<!--Feature One Start-->
<section class="feature-one rtl">
    <div class="container">
        <div class="feature-one__inner">
            <ul class="feature-one__list list-unstyled">
                <!--feature One Single Start-->
                <li>
                    <div class="feature-one__single">
                        <div class="feature-one__icon">
                            <span class="icon-global-shipping"></span>
                        </div>
                        <div class="feature-one__content">
                            <h3 class="feature-one__title">سیاست بازگشت</h3>
                            <p class="feature-one__subtitle">ضمانت بازگشت وجه</p>
                        </div>
                    </div>
                </li>
                <!--feature One Single End-->
                <!--feature One Single Start-->
                <li>
                    <div class="feature-one__single">
                        <div class="feature-one__icon">
                            <span class="icon-free-delivery"></span>
                        </div>
                        <div class="feature-one__content">
                            <h3 class="feature-one__title">ارسال رایگان</h3>
                            <p class="feature-one__subtitle">سفارشات بیش از 60000تومان</p>
                        </div>
                    </div>
                </li>
                <!--feature One Single End-->
                <!--feature One Single Start-->
                <li>
                    <div class="feature-one__single">
                        <div class="feature-one__icon">
                            <span class="icon-store"></span>
                        </div>
                        <div class="feature-one__content">
                            <h3 class="feature-one__title">مکان یاب فروشگاه</h3>
                            <p class="feature-one__subtitle">نزدیکترین فروشگاه پیدا کنید</p>
                        </div>
                    </div>
                </li>
                <!--feature One Single End-->
                <!--feature One Single Start-->
                <li>
                    <div class="feature-one__single">
                        <div class="feature-one__icon">
                            <span class="icon-payment-security"></span>
                        </div>
                        <div class="feature-one__content">
                            <h3 class="feature-one__title">پرداخت مطمئن</h3>
                            <p class="feature-one__subtitle">پول شما 100% امن است</p>
                        </div>
                    </div>
                </li>
                <!--feature One Single End-->
            </ul>
        </div>
    </div>
</section>
<!--Feature One End-->