<!--Banner One Start-->
<section class="banner-one rtl">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="banner-one__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <div class="banner-one__inner">
                        <div class="banner-one__img-1">
                            <img src="assets/images/resources/banner-img-1.png" alt="">
                        </div>
                        <div class="banner-one__shape-1">
                            <img src="assets/images/shapes/banner-shape-1.png" alt="">
                        </div>
                        <div class="banner-one__shape-2">
                            <img src="assets/images/shapes/banner-shape-2.png" alt="">
                        </div>
                        <div class="banner-one__shape-3">
                            <img src="assets/images/shapes/banner-shape-3.png" alt="">
                        </div>
                        <p class="banner-one__tagline">100 درصد ارگانیک</p>
                        <h3 class="banner-one__title">فروشگاه مواد غذایی
                            <br>ارگانیک با کیفیت</h3>
                        <div class="banner-one__btn-box">
                            <a href="product-details.html" class="banner-one__btn thm-btn">خرید کنید</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="banner-one__right wow slideInRight" data-wow-delay="100ms"
                    data-wow-duration="2500ms">
                    <div class="banner-one__inner banner-one__inner-2">
                        <div class="banner-one__img-2">
                            <img src="assets/images/resources/banner-img-2.png" alt="">
                        </div>
                        <div class="banner-one__shape-1">
                            <img src="assets/images/shapes/banner-shape-4.png" alt="">
                        </div>
                        <div class="banner-one__shape-5">
                            <img src="assets/images/shapes/banner-shape-5.png" alt="">
                        </div>
                        <div class="banner-one__shape-6">
                            <img src="assets/images/shapes/banner-shape-6.png" alt="">
                        </div>
                        <p class="banner-one__tagline">100 درصد ارگانیک</p>
                        <h3 class="banner-one__title">محصولات سالم
                            <br> روزانه</h3>
                        <div class="banner-one__btn-box">
                            <a href="product-details.html" class="banner-one__btn thm-btn">خرید کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner One End-->