<!--Testimonial One Start-->
<section class="testimonial-one">
    <div class="testimonial-one__bg-img"
        style="background-image: url(assets/images/backgrounds/testimonial-one__bg-img.jpg);"></div>
    <div class="testimonial-one__bg-img-2">
        <img src="assets/images/backgrounds/testimonial-one__bg-img-2.png" alt="">
    </div>
    <div class="testimonial-one__bg-shape">
        <img src="assets/images/shapes/testimonial-one-shape-3.png" alt="">
    </div>
    <div class="container rtl">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="testimonial-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">بازخوردهای ما</span>
                        <h2 class="section-title__title">آنها در مورد شرکت ما چه می گویند؟</h2>
                    </div>
                    <p class="testimonial-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.لورم ایپسوم</p>
                    <div class="testimonial-one__btn-box">
                        <a href="testimonials.html" class="testimonial-one__btn thm-btn">مشاهده تمام توصیفات</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 ltr">
                <div class="testimonial-one__right">
                    <div class="testimonial-one__img-2">
                        <img src="assets/images/testimonial/testimonial-1-2.jpg" alt="">
                    </div>
                    <div class="testimonial-one__shape-1 float-bob-y">
                        <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
                    </div>
                    <div class="testimonial-one__shape-2 float-bob-x">
                        <img src="assets/images/shapes/testimonial-one-shape-2.png" alt="">
                    </div>
                    <div class="testimonial-one__carousel owl-carousel owl-theme thm-owl__carousel"
                        data-owl-options='{
                        "loop": true,
                        "autoplay": false,
                        "margin": 30,
                        "nav": true,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"icon-up-arrow\"></span>","<span class=\"icon-down-arrow\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 1
                            },
                            "992": {
                                "items": 1
                            },
                            "1200": {
                                "items": 1
                            }
                        }
                    }'>
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__content-box">
                                    <div class="testimonial-one__shape-4">
                                        <img src="assets/images/shapes/testimonial-one-shape-4.png" alt="">
                                    </div>
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quote"></span>
                                    </div>
                                    <p class="testimonial-one__text-2">این به دلیل خدمات عالی، قیمت رقابتی و پشتیبانی مشتری است. این کاملاً نشاط آور است که چنین شخصی را به سادگی لمس k</p>
                                    <div class="testimonial-one__client-info">
                                        <h3 class="testimonial-one__client-name">آلشا براون </h3>
                                        <p class="testimonial-one__client-subtitle">مدیر عامل اوژنیکس</p>
                                    </div>
                                </div>
                                <div class="testimonial-one__client-img">
                                    <img src="assets/images/testimonial/testimonial-client-1-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__content-box">
                                    <div class="testimonial-one__shape-4">
                                        <img src="assets/images/shapes/testimonial-one-shape-4.png" alt="">
                                    </div>
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quote"></span>
                                    </div>
                                    <p class="testimonial-one__text-2">این به دلیل خدمات عالی، قیمت رقابتی و پشتیبانی مشتری است. این کاملاً نشاط آور است که چنین شخصی را به سادگی لمس کنید</p>
                                    <div class="testimonial-one__client-info">
                                        <h3 class="testimonial-one__client-name">میکه هارسون</h3>
                                        <p class="testimonial-one__client-subtitle"><span>.</span>مدیر عامل اوژنیکس</p>
                                    </div>
                                </div>
                                <div class="testimonial-one__client-img">
                                    <img src="assets/images/testimonial/testimonial-client-1-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__content-box">
                                    <div class="testimonial-one__shape-4">
                                        <img src="assets/images/shapes/testimonial-one-shape-4.png" alt="">
                                    </div>
                                    <div class="testimonial-one__quote">
                                        <span class="icon-quote"></span>
                                    </div>
                                    <p class="testimonial-one__text-2">این به دلیل خدمات عالی، قیمت رقابتی و پشتیبانی مشتری است. این کاملاً نشاط آور است که چنین شخصی را به سادگی لمس کنید</p>
                                    <div class="testimonial-one__client-info">
                                        <h3 class="testimonial-one__client-name">کوین مارتین</h3>
                                        <p class="testimonial-one__client-subtitle"><span>.</span>مدیر عامل اوژنیکس</p>
                                    </div>
                                </div>
                                <div class="testimonial-one__client-img">
                                    <img src="assets/images/testimonial/testimonial-client-1-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial One End-->