{% load static %}
<!--Why Choose One Start-->
<section class="why-choose-one rtl">
    <div class="why-choose-one__bg"
        style="background-image: url({% static 'images/backgrounds/why-choose-one-bg.jpg' %});">
    </div>
    <div class="why-choose-one__shape-1 float-bob-y">
        <img src="{% static 'images/shapes/why-choose-one-shape-1.png' %}" alt="">
    </div>
    <div class="why-choose-one__shape-2 float-bob-x">
        <img src="{% static 'images/shapes/why-choose-one-shape-2.png' %}" alt="">
    </div>
    <div class="why-choose-one__shape-3">
        <img src="{% static 'images/shapes/why-choose-one-shape-3.png' %}" alt="">
    </div>
    <div class="why-choose-one__shape-4">
        <img src="{% static 'images/shapes/why-choose-one-shape-4.png' %}" alt="">
    </div>
    <div class="why-choose-one__img-1 wow fadeInUp" data-wow-duration="1500ms">
        <img src="{% static 'images/resources/why-choose-one-img-1.png' %}" alt="">
    </div>
    <div class="why-choose-one__img-2 wow fadeInDown" data-wow-duration="1500ms">
        <img src="{% static 'images/resources/why-choose-one-img-2.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="why-choose-one__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">چرا اوژنیکس را انتخاب کنید</span>
                        <h2 class="section-title__title">چند دلیل برای انتخاب اوژنیکس توسط مردم</h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__single">
                                <div class="why-choose-one__icon">
                                    <span class="icon-organic-food"></span>
                                </div>
                                <h4 class="why-choose-one__title">محصولات ارگانیک</h4>
                                <p class="why-choose-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__single">
                                <div class="why-choose-one__icon">
                                    <span class="icon-apple"></span>
                                </div>
                                <h4 class="why-choose-one__title">میوه ارگانیک</h4>
                                <p class="why-choose-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__single">
                                <div class="why-choose-one__icon">
                                    <span class="icon-diet"></span>
                                </div>
                                <h4 class="why-choose-one__title">روزانه تازه</h4>
                                <p class="why-choose-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="why-choose-one__single">
                                <div class="why-choose-one__icon">
                                    <span class="icon-salad"></span>
                                </div>
                                <h4 class="why-choose-one__title">اقلام طبیعی</h4>
                                <p class="why-choose-one__text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-4"></div>
        </div>
    </div>
</section>
<!--Why Choose One End-->